<!DOCTYPE html>
<html lang="en">

<head>
  <title>Microservice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
  body{
          background-image:url("/static/base.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
      }
  h3 {
  text-align: center;

.p1 {
  font-family: "Times New Roman", Times, serif;
}
</style>
</head>

<body>


<div class="text-center">
  <h1 style="color:Red;" ><b><br>Microservice Framework For Anomaly Detection </h1>
  <p style="color:Red;">Detection of Credit Card Fraud by Anomaly Detection using Microservice</p><br>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
              <a class="nav-item nav-link" id="home" href="/main">Home</a>
              <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Algorithm on Microservice Anomaly Detection
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/RFC">Random Forest Classifier</a>
        <a class="dropdown-item" href="/SVM">SVM Classifier</a>
        <a class="dropdown-item" href="/LGT">Logistic Regression</a>
        <a class="dropdown-item" href="/DTree">Decision Tree</a>
        <a class="dropdown-item" href="/MLPNN">MLP Neural Network</a>
        <a class="dropdown-item" href="/k_Mean">K-Mean Clustring With PCA Algorithm </a>
        <a class="dropdown-item" href="/BRFC">Balanced Random Forest Classifier </a>
        <a class="dropdown-item" href="/BBLR">Balanced Bagging Classifier </a>
        <a class="dropdown-item" href="/ADclassfierreport">Compare ALL Results </a>
      </div>
    </li>
              <a class="nav-item nav-link" id="logout" href="/AboutUs">About Us</a>

          </div>
      </div>
  </nav>

</div>
</body><br>
<div class="container">
      <h3 style="color:orange", class="p1"><b>Brief introduction on Balanced Bagging Classifier </b></h3><br>
      <p style="color:red;" class="c" class="p1"> A Bagging classifier is an ensemble meta-estimator that fits base classifiers each on random subsets of the original dataset and then aggregate their individual predictions (either by voting or by averaging) to form a final prediction. Such a meta-estimator can typically be used as a way to reduce the variance of a black-box estimator (e.g., a decision tree), by introducing randomization into its construction procedure and then making an ensemble out of it.
Each base classifier is trained in parallel with a training set which is generated by randomly drawing, with replacement, N examples(or data) from the original training dataset – where N is the size of the original training set. Training set for each of the base classifiers is independent of each other. Many of the original data may be repeated in the resulting training set while others may be left out.   </p>
      <p style="color:red;" class="c" class="p1"> Bagging reduces overfitting (variance) by averaging or voting, however, this leads to an increase in bias, which is compensated by the reduction in variance though. </p>
      <p style="color:red;" class="c" class="p1"> How bagging works on an imaginary training dataset is shown below. Since Bagging resamples the original training dataset with replacement, some instance(or data) may be present multiple times while others are left out.</p>

    </div>

    <form action="/upload_BBLR" method="post" enctype="multipart/form-data" >
            <div align="center">
                <label>
                  <button type="button" class="btn btn-primary btn-sm">Browse

                    <input type="file" id="actual-btn" name="csvfile" />
                </label>
                <input type="submit" value="Upload CSV Dataset " class="btn btn-primary">
            </div>
        </form><br>

        <h3 style="color:orange", class="p1">STD, Mean ,Count Table Discription</h3>
        <head>
<title> Table </title>
</head>
<body>
<div align="center">

    <table>
        <h1>
        <!--Displaying the converted table-->
             {% for table in f2_score %}
            <h2>{{titles[loop.index]}}</h2>
            {{ table|safe }}
            {% endfor %}
        </h1>
    </table>
</div>
</body>
<div align="center">
  <h3 style="color:orange", class="p1">Train Score For Given dataset </h3>
{% if Train_Score %}
  <br><br>
  <h6 >{{ Train_Score }}</h6>
  {% endif %}
</div>
<div align="center">
  <h3 style="color:orange", class="p1">Test Score For Given dataset </h3>
  {% if Test_Score %}
    <br>
    <h6>{{ Test_Score }}</h6>
    {% endif %}
</div>
  <h3 style="color:orange", class="p1">Classification Report</h3>



        <head>
        <title> Table </title>
    </head>
    <body>
        <div align="center">
            <table>
                <h1>
                <!--Displaying the converted table-->
                     {% for table in f1_score %}
                    <h2>{{titles[loop.index]}}</h2>
                    {{ table|safe }}
                    {% endfor %}
                </h1>
            </table>
        </div>
    </body>

<br><br><br>
<div align="center">
  <h3 style="color:orange", class="p1">Graph Plot: Fraud and Normal Transaction For Given Data-Set </h3>
<img src="data:image/png;base64, {{ img }}">
</html>
