<!DOCTYPE html>
<html lang="en">

<head>
  <title>Microservice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
  body{
          background-image:url("/static/base.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
      }
  h3 {
  text-align: center;

.p1 {
  font-family: "Times New Roman", Times, serif;
}
</style>
</head>

<body>


<div class="text-center">
  <h1 style="color:Red;" ><b><br>Microservice Framework For Anomaly Detection </h1>
  <p style="color:Red;">Detection of Credit Card Fraud by Anomaly Detection using Microservice</p><br>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
              <a class="nav-item nav-link" id="home" href="/main">Home</a>
              <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Algorithm on Microservice Anomaly Detection
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/RFC">Random Forest Classifier</a>
        <a class="dropdown-item" href="/SVM">SVM Classifier</a>
        <a class="dropdown-item" href="/LGT">Logistic Regression</a>
        <a class="dropdown-item" href="/DTree">Decision Tree</a>
        <a class="dropdown-item" href="/MLPNN">MLP Neural Network</a>
        <a class="dropdown-item" href="/k_Mean">K-Mean Clustring With PCA Algorithm </a>
        <a class="dropdown-item" href="/BRFC">Balanced Random Forest Classifier </a>
        <a class="dropdown-item" href="/BBLR">Balanced Bagging Classifier </a>
        <a class="dropdown-item" href="/ADclassfierreport">Compare ALL Results </a>
      </div>
    </li>
              <a class="nav-item nav-link" id="logout" href="/AboutUs">About Us</a>

          </div>
      </div>
  </nav>

</div>
</body><br>
<div class="container">
      <h3 style="color:orange", class="p1"><b>Brief introduction on Logistic Regression  </b></h3><br>
      <p style="color:red;" class="c" class="p1">In machine learning, a classification problem is grouping the data into predefined classes. An event is predicted where the response is categorical in nature or in other words, predicts the class for a given set of data. This can be performed on both structured or unstructured data. Structured data simply means where the target is already defined and unstructured or unlabeled data means where the target is unknown. The focus of this article is on structured data.    </p>
      <p style="color:red;" class="c" class="p1">Some of the instances of classes are: for an insurance company to categorize an insurance claim as fraud or genuine; a product manufactured is defective or not defective; for a telecom provider whether the customer will churn (i.e. leave the company) or not churn; whether a patient is diagnosed with cancer or not and alike. This is a binary classification where there are two classes.  </p>
      <p style="color:red;" class="c" class="p1"> When there are more than two classes such as having high, medium, or low risk is a form of multi-class classification. The iris dataset having classes of flowers as Setosa, Versicolor, Virginica is an example of multi-class classification. In this article, will be working through a problem to predict whether the person is likely to have heart disease or not.</p>

    </div>
    <form action="/upload_LGT" method="post" enctype="multipart/form-data" >
            <div align="center">
                <label>
                  <button type="button" class="btn btn-primary btn-sm">Browse

                    <input type="file" id="actual-btn" name="csvfile" />
                </label>
                <input type="submit" value="Upload CSV Dataset " class="btn btn-primary">
            </div>
        </form><br>


        <h3 style="color:orange", class="p1">STD, Mean ,Count Table Discription</h3>
        <head>
<title> Table </title>
</head>
<body>
<div align="center">

    <table>
        <h1>
        <!--Displaying the converted table-->
             {% for table in f2_score %}
            <h2>{{titles[loop.index]}}</h2>
            {{ table|safe }}
            {% endfor %}
        </h1>
    </table>
</div>
</body>
<div align="center">
  <h3 style="color:orange", class="p1">Train Score For Given dataset </h3>
{% if Train_Score %}
  <br><br>
  <h6 >{{ Train_Score }}</h6>
  {% endif %}
</div>
<div align="center">
  <h3 style="color:orange", class="p1">Test Score For Given dataset </h3>
  {% if Test_Score %}
    <br>
    <h6>{{ Test_Score }}</h6>
    {% endif %}
</div>
  <h3 style="color:orange", class="p1">Classification Report</h3>



        <head>
        <title> Table </title>
    </head>
    <body>
        <div align="center">
            <table>
                <h1>
                <!--Displaying the converted table-->
                     {% for table in f1_score %}
                    <h2>{{titles[loop.index]}}</h2>
                    {{ table|safe }}
                    {% endfor %}
                </h1>
            </table>
        </div>
    </body>

<br><br><br>
<div align="center">
  <h3 style="color:orange", class="p1">Graph Plot: Fraud and Normal Transaction For Given Data-Set </h3>
<img src="data:image/png;base64, {{ img }}">
</html>
